.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

h1 {
  text-align: -webkit-center;
}

th.mat-sort-header-sorted {
  color: black;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-cell:nth-child(6), .mat-header-cell:nth-child(6) {
  flex: 0 0 5%;
  width: 5%;
  padding-left: 5px;
  padding-right: 5px;
}
